body {
    margin: 0;
    padding: 0;
    background: #161616;
    color: #fff;
    font-family: "Inter", serif;
    font-weight: 400;
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1000;

    background: rgba(0, 0, 0, 0); /* Fond transparent */
    transition: background 0.3s ease-in-out;
}
.logo {
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    margin-left: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 15px #A020F0;
}
.menu {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.scrolled {
    background: rgba(28, 28, 28, 0.8); /* Fond noir semi-transparent */
}

.menu a {
    margin-top:10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
.menu a:hover {
    color: #f5e6ff;
    text-shadow: 0 0 15px #A020F0;
}

.menu img{
    
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.menu img:hover{
    filter: drop-shadow(0px 0px 15px #A020F0);
    -webkit-transform: scale(1.3);
	transform: scale(1.05);
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: url('../img/background.png') center/cover;
    overflow: hidden;
    border-bottom: solid #080808;
}
.hero h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: "Bebas Neue", serif;
    text-shadow: 0 0 15px #A020F0;
    position: relative;
    z-index: 2;
}

.hero h1 span {
    font-family: "Chewy", serif;
}   
.hero p {
    font-size: 20px;
    max-width: 600px;
    margin-top: 10px;
    opacity: 1;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 15px black;
}
.hero figure img{
    filter: drop-shadow(0px 0px 15px rgb(253, 255, 255));
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hero:hover figure img{
    -webkit-transform: scale(1.3);
	transform: scale(1.05);
}

.fog-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.fog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://static.vecteezy.com/system/resources/thumbnails/009/374/897/small/fog-design-clean-alpha-free-png.png') center/cover;
    opacity: .8;
    animation: fogAnimation 20s linear infinite;
}
@keyframes fogAnimation {
    0% { transform: scale(1) translateX(0); }
    50% { transform: scale(3) translateX(5%); }
    100% { transform: scale(1) translateX(0); }
}

section h2{
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-style: normal;
    font-size: xx-large;
    padding-bottom: 15px;
}
.team {
    padding-bottom: 20px;
}

.team_container{
    display: flex;
    gap:15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content:space-between;
    margin: 0 auto;
}

.team h2 {
    padding-top: 20px;
}
.discordTeam{
    display: flex;
    gap:10px;
    padding-top:10px
}
.twitchTeam {
    padding-top:10px;
    display: flex;
    gap:10px;
}

.discordTeam img {
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}

/* Code PeNAL */
.codepenal {
    height: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom : 20px;
    justify-content: center;
    text-align: center;
    background: url('../img/lake.png') center/cover;
    overflow: hidden;
    border-bottom: solid #080808;
}
.tab{
    width:75%;
    margin: auto;
}

.capitole img{
    margin: auto;
    height: 250px;
    margin-bottom: 20px;
}


.tab h2{
    font-family: "Nunito Sans", sans-serif;
}

.reglement {
    height: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom : 20px;
    justify-content: center;
    text-align: center;
    background: url('../img/valley.png') center/cover;
    overflow: hidden;
    border-bottom: solid #080808;
}

.background-intro {
    background-color: rgba(30,30,30, 0.75);
    border-radius: 10px;
    padding: 20px;
    text-align: justify;

}

.container-join{
    height: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom : 20px;
    background: url('/img/wallpaper-yellow.jpg') center/cover;
    overflow: hidden;
    border-bottom: solid #080808;
}

.introduction-join h2{
    text-align: center;
    font-family: "Nunito Sans", serif;
    font-style: normal;
    font-size: xx-large;
    padding-bottom: 20px;
}

.introduction {
    width: 75%;
    margin: auto;
    background-color: rgba(30,30,30, 0.75);
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 20px;
}
.content-join{
    background-color: rgba(30,30,30, 0.75);
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    width: 75%;
    margin: auto;
}

.h5-card{
    color: #080808;
}

.pubTeam{
    color:#080808;
}

.twitchTeam a {
    color:#080808;
    text-decoration: none;
}

.twitchTeam a:hover {
    color: #080808;
    text-shadow: 0 0 15px #A020F0;
}

.content-join a{
    text-decoration: none;
}

.content-join a:hover{
    text-shadow: 0 0 15px #f5e6ff;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}
.hamburger div {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px 0;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 20px;
    background: #222;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.mobile-menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-menu a:last-child {
    border-bottom: none;
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}